<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">
    <testsuites>
        <testsuite name="Dirthara Database">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Query/Clause</directory>
            <directory>src/Query/Expression</directory>
            <directory>src/Query/Join</directory>
            <directory>src/Query/Queries</directory>
            <file>src/Query/Operator/BooleanOperator.php</file>
        </exclude>
    </source>
</phpunit>
